
  <ul class="list-group">

    <% for(let i = 0; i < locals.cats.length; i += 1){ %>
      <% var category = cats[i] %>
      <% if(locals.query.cat !== undefined && locals.query.cat == category.id) { %>
      <li class="list-group-item list-group-item-info">
      <% } else { %>
      <li class="list-group-item">
      <% } %>
          <a href="/?cat=<%= category.id %>"><%= category.name %></a>
      </li>
    <% } %>

  </ul>
