
  <ul class="list-group">
    <li class="list-group-item active">
      Traveling
    </li>
    <li class="list-group-item">
      Food
    </li>
    <li class="list-group-item">
      Social
    </li>
    <li class="list-group-item">
      Fashion
    </li>
    <li class="list-group-item">
      Music
    </li>
  </ul>
