<ul class="list-group">
  <li class="list-group-item list-group-item-info">
    Your last posts!
  </li>
  <% for(let i = 0; i < locals.myLatestTopics.length; i += 1){ %>
    <% var topic = locals.myLatestTopics[i] %>
    <li class="list-group-item">
      <span class="badge"><%= topic.total %></span>
      <a href="/topics/topic_detail/<%= topic.id %>"><%= topic.title %></a>
    </li>
  <% } %>
</ul>