<ul class="list-group">
  <li class="list-group-item list-group-item-info">
    Your last post!
  </li>
  <li class="list-group-item">
    <span class="badge">1</span>
    <a href="/topics/mytopics">Post 1</a>
  </li>
  <li class="list-group-item">
    <span class="badge">4</span>
    Post 2
  </li>
</ul>