<ul class="list-group">
  <li class="list-group-item list-group-item-info">
    Your last post!
  </li>
  <li class="list-group-item">
    <span class="badge">1</span>
    Post 1
  </li>
  <li class="list-group-item">
    <span class="badge">4</span>
    Post 2
  </li>
</ul>