<div class="thumbnail">
  <!-- <img src="..." alt="..."> -->
  <div class="caption">
    <h3>Pick Bali as favourite place for vacation</h3>
    <p> offers all kinds of travelling excitement for world wide visitors. Situated north of Kuta and south of Seminyak, Legian is less hectic but still has a lot of captivating magic</p>
    <p>
      <button class="btn btn-primary">
           <img src="images/bananas.png" width="24" style="margin-right: 5px;"/>
           <span class="badge">20</span>
      </button>
      <button class="btn btn-default">
           <img src="images/coconut.png" width="24" style="margin-right: 5px;" />
           <span class="badge">3</span>
      </button>
    </p>
  </div>
</div>