<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="/dist/bootsnipp.min.css">
  </head>
  <body>
    <div class="container">

      <div class="row" id="pwd-container">
        <div class="col-md-4"></div>

        <div class="col-md-4">
          <section class="login-form">
            <form method="post" action="/login" role="login">
              <img src="images/bananavotes.png" class="img-responsive" alt="" />
              <input type="email" name="email" placeholder="Email" required class="form-control input-lg" value="yusuf.hacktiv8@gmail.com" />

              <input type="password" class="form-control input-lg" id="password" placeholder="Password" required="" value="abcde"/>


              <div class="pwstrength_viewport_progress"></div>


              <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Sign in</button>
              <div>
                <a href="#">Create account</a> or <a href="#">reset password</a>
              </div>

            </form>

            <div class="form-links">
              <a href="#">www.bananavotes.com</a>
            </div>
          </section>
          </div>

          <div class="col-md-4"></div>

      </div>

</div>
  </body>
</html>
